@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "poppins";
}

#bg{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#main{
        border: 2px solid rgba(255, 255, 255, 0.288);

    background-color: rgba(0, 0, 0, 0.61);
    width: 300px;
    backdrop-filter: blur(5px);
    height: 300px;
    position: absolute;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);   
    scale: 80%;
    box-shadow: 8px 9px 31px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 8px 9px 31px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 9px 31px 0px rgba(0,0,0,0.75);
}
#avatar {
    position: absolute;
    top: 48%;
    left: 50%;
    height: 50%;
    width: 50%;
    transform: translate(-50%, -70%);   
}
#youtubeicn, #discordicn, #moldure{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 60%;
    width: 60%;
    transform: translate(-50%, -70%);   
}

#main h2{
    color: white;
    padding-top: 210px;
    text-align: center;
    font-family: 'Poppins';
}

#track{
        border: 2px solid rgba(255, 255, 255, 0.288);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-43%, 120%);
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.61);
    backdrop-filter: blur(5px);
    width: 480px;
    height: 120px;
    box-shadow: 8px 9px 31px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 8px 9px 31px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 9px 31px 0px rgba(0,0,0,0.75);
}

#track img{
    
    height: 70px;
    padding: 25px;
    border-radius: 20px;
}

#musicname{
    position: absolute;
    top: 13px;
    left: 110px;   
}
#youtubeicn{
    position: absolute;
    width: 30%;
    height: 30%;
    top: 50%;
    left: 50%;
    transform: translate(50%, 57%);
}
#discordicn{
    width: 30%;
    height: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-155%, 55%);
}
